data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

*.csv
*.zip

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
*/.ipynb_checkpoints/

.venv/
venv/
ENV/

.DS_Store
Thumbs.db

/SatoshiDiceBetting.pdf

