# Data Management and Analysis
pandas
numpy
pyarrow

# Graph Analysis 
networkx

# Web Scraping
selenium
webdriver-manager

# Data Visualization and Plotting
matplotlib
seaborn

# Development Environment
notebook